<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Bad Person</title>
</head>
    <body>
        <h1>EVERYTHING IS GONE YOU MONSTER!</h1>
        <form action="/" method = "get">
        <button type="submit" name="button">Go home</button>
        </form>
    </body>
</html>
